.layber {
<<<<<<< HEAD
    margin-top: 100px;
}

.ckbox {
    height: 150px;
    width: 50%;
    border: 5px dotted chocolate;
}
=======
    position: relative;
    top: 100px;
}
>>>>>>> c40f2577058f50c124da497a6be74770ab8ed661
