.main {
    display: flex;
    justify-content: center;
    align-items: center;

}


.box_ps {
    margin-top: 55px;
    width: 50%;
    height: 500px;
    box-shadow: 0px 4px 36px 20px silver;
    ;
    border-radius: 15px;

}